@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-background-body:hsl(0, 0%, 8%);
    --color-background-card: hsl(0, 0%, 12%);
    --color-background-button:hsl(0, 0%, 20%);
    --color-primary:hsl(0, 0%, 100%);
    --color-secondary: hsl(75, 94%, 57%);

    --max-width-container: 18.75rem; /* 300px;  300/16 = 18.75rem*/
    --max-height-container: 37.5rem;

    --font-size-xs: 0.62rem;
    --font-size-sm: 0.87rem;
    --font-size-md: 1.06rem;
    --font-size-lg: 1.5rem;
    --font-size-min: 0.31rem;

    --font-family: "Inter", sans-serif;

}

@media screen and (max-width: 271px){
    :root {
        --max-width-container: window.screen.width;
      }
}
@media screen and (min-width: 272px) and (max-width: 375px){
    :root {
        --max-width-container: 13.75rem;
      }
}
@media screen and (min-width: 376px) and (max-width: 1440px){
    :root {
        --max-width-container: 18.75rem;
      }
}